.cabacera{
    display: flex;
}
a{
    padding: 10px;
    color:rgb(31, 31, 31);
    text-decoration: none;
    }
a:hover{
    color:rgb(0, 0, 0);
    background: green;
}
span{
    border: 1px solid greenyellow;
    padding: 4px 15px;
    background: greenyellow;
    color: green;
    border-radius: 1.5rem;
}
    
/* selectores{
    estilos
}
*/

/*
#id{}
.clase{}
etiqueta{}
*/