.cabacera{
    display: flex;
    gap: 10px
    ;
}
a{
    border: 1px solid blue;
    padding: 10px;
    color:rgb(31, 31, 31);
    text-decoration: none;
    }
a:hover{
    color:rgb(0, 0, 0);
    background: green;
}
span{
    border: 1px solid greenyellow;
    padding: 4px 15px;
    background: greenyellow;
    color: green;
    border-radius: 1.5rem;
}
img{
    width: 70px; height: 70px;
    border-radius: 50%;}

.perfil{
        display:flex;
        align-items: center;
        gap: 15px;
    }
    
/* selectores{
    estilos
}
*/

/*
#id{}
.clase{}
etiqueta{}
*/